.App {
  text-align: center;
  height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.reg-log{
display: flex;
flex-direction: column;
width:100vw;
height: 100vh;
} 

.item_cards{
  background: linear-gradient(#839ed4,#506fad );
  border-bottom: solid black 1px;
  box-shadow: 0px 6px 6px 0px #454a55;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px #666a72;

}

.toDo{
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 100vh;
  margin-left: 5vw;
}

#label{
  align-items: center;
  width:100vw;
}

.lists{
border: black solid 1px;
width: 6rem;
height: 6rem;
margin: 5px;
font-size: .8rem;
}

.list_container{
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  background: grey;
  margin-left: 20vw;
  justify-content: center;
  align-items: center;
}

button:hover{
  color: red;
}
input:focus{
background: rgb(249, 255, 171);
}

input:disabled{
background: #ccc;
}

div:nth-child(2){
color: rgb(122, 33, 33);
}

a{
  text-decoration: none;
}

input:required{
  background-color: rgba(235, 18, 47, 0.712);
}

body{
  background: linear-gradient(rgba(5, 63, 170, 0.644), rgb(128, 40, 52))
}